<style>
    .footer{
        background-color: rgba(129, 206, 250, 0.356);
    }
</style>
<br> <br>
<div class="footer">
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <br>

    <div class="container mt-3">
       
        <div class="row justify-content-center">
           
             <h4 align="center" id="contatos">Converse Conosco</h4>
            <div class="col-sm-4">
                <h4 class="text-center" id="contacto">Social</h4>
                <div class="btn-group-vertical btn-block w-100 " role="group">
                    <a href="#" class="btn btn-outline-primary">facebook</a>
                    <a href="#" class="btn btn-outline-info">Twitter</a>
                    <a href="#" class="btn btn-outline-warning">Instragram</a>
    
                </div>
            </div>
            <div class="col-12 mt-3">
                <blockquote class="blockquote text-center">
                    <p>Todos os direitos reservados</p>
                    <div class="blockquote-footer">
                        Copyright-2023
                        <cite title="Titulo">ESTUDYcamba</cite>
                    </div>
                </blockquote>
            </div>
        </div>
       
         
    
  </div>
  </nav>
  </div>

    


