 <style>
  .card1{
    background-color: rgba(0, 160, 252, 0.384);
    height: 60px; 
    width: 100%; 
    margin: 0; 
   padding: 0;
    
      
  }
  #button{
    width: 19%;
  }
 #nav-but1{
  padding: 0;
  padding: 4px;
  
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
 
 }
 </style>

<nav class="card1" > 
  <ul class="nav-but ms-auto mb-2 mb-lg-0" id="nav-but1"> 

     <a class="nav-link " href="/mapa">  Hospital+Perto </a>
     {{#if user}}
       <div class="">
      {{#each user}}
            {{nome}}
       {{/each}}
      
      </div>
       
      {{else}}
     <a class="nav-link" href="/consulta/">  <button class="btn btn-primary " type="button"  >Marcar Consulta</button>  </a>
     {{/if}}
     
 
  </ul>
  
</nav>


  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;"> 
  <div class="container-fluid">
    <a class="navbar-brand" href="/">diaGnosMI</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {{#if user}}
        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/admin/cunsultas">Consultas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/admin/categoria">Especialidade</a>
        </li>
        {{else}}
        
        <li class="nav-item">
          <a class="nav-link active" href="#sobre">Quem Somos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#servico">Serviços</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#vantagens">Vantagens</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#contatos">Contactos</a>
        </li>
        {{/if}}
        
        <li class="nav-item">
          <a class="nav-link active"></a>
        </li>
      </ul>
       <form class="d-flex" role="search">
       
          
         
          
       {{#if user}} 
         <a class="nav-link" href="/logout"><button class="btn alert-danger" type="button">Sair</button> </a>
        {{else}} 
        <a class="nav-link" href="/chekup"> 
         
         <button class="btn alert-danger" type="button">Avaliar Sintomas</button>
          </a>
          <a class="nav-link" href="/login"> 
         <button class="btn btn-outline-success" type="button">Especialistas</button>
         </a>
         {{/if}}
        
        
     </form>
    </div>
  </div>
</nav>

   